<a class="btn btn-primary" routerLink="/"><-Back</a>

<ng-template ngIf="followUps >=1; else none">
  <div class="container col-8">
    <div class="tile" *ngFor="let i of inquiries">
      <div class="tile-icon">
        <figure class="avatar avatar-lg">
          <img src="assets/person.png">
        </figure>
      </div>
      <div class="tile-content">
        <p class="tile-title">
          {{i.firstName}} {{i.lastName}}
          <span class="tile-subtitle">({{i.program}} - {{i.requestDate}})</span>
        </p>
        <p class="tile-subtitle">
          {{i.request}}
        </p>
      </div>
      <div class="tile-action">
        <button class="btn btn-primary">Follow-up</button>
        <button class="btn">Discard</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #none>
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-people"></i>
    </div>
    <h4 class="empty-title">You have no new students to follow-up</h4>
    <p class="empty-meta">Click the button to start a conversation.</p>
    <div class="empty-action">
      <button class="btn btn-primary"><i class="icon icon-markunread"></i> Send a message</button>
    </div>
  </div>
</ng-template>
