<div [(hidden)]="submitted">
  <form class="form-horizontal" [formGroup]="registrationForm" (submit)="onSubmit()">
    <!-- form input control -->
    <div class="form-group">
      <label class="form-label col-3" for="firstName">First Name</label>
      <input class="form-input col-9" type="text" id="firstName" formControlName="firstName" placeholder="First Name"/>
    </div>
    <!-- form input control -->
    <div class="form-group">
      <label class="form-label col-3" for="lastName">Last Name</label>
      <input class="form-input col-9" type="text" id="lastName" formControlName="lastName" placeholder="Last Name"/>
    </div>
    <!-- form input control -->
    <div class="form-group">
      <label class="form-label col-3" for="email">Email</label>
      <input class="form-input col-9" type="email" id="email" formControlName="email" placeholder="Email"/>
    </div>
    <!-- form select control -->
    <div class="form-group">
      <label class="form-label col-3" for="program">Program of Interest</label>
      <select class="form-select col-9" id="program" formControlName="program">
        <option disabled>Choose an option</option>
        <option *ngFor="let program of programs" [value]="program.code">{{program.title}}</option>
      </select>
    </div>

    <!-- form textarea control -->
    <div class="form-group">
      <label class="form-label col-3" for="request">Request</label>
      <textarea class="form-input col-9" id="request" formControlName="request" placeholder="Describe your request"
                rows="3"></textarea>
    </div>
    <!-- form date-->
    <div class="form-group">
      <label class="form-label col-3" for="requestDate"></label>
      <input type="date" formControlName="requestDate" id="requestDate"/>
    </div>
    <!-- form checkbox control -->
    <div class="form-group">
      <div class="col-3"></div>
      <label class="form-switch col-9">
        <input type="checkbox"/>
        <i class="form-icon"></i> Send me emails with news and tips
      </label>
    </div>

    <!-- Submit-->
    <div class="form-group">
      <div class="col-3"></div>
      <div class="col-9">
        <button class="btn btn-primary btn-lg" type="submit" [disabled]="registrationForm.invalid"> Submit</button>
      </div>
    </div>
  </form>
</div>

<ng-container>
  <section class="empty" [hidden]="!submitted">
    <div class="empty-icon">
      <i class="icon icon-drafts"></i>
    </div>
    <h4 class="empty-title">You've successfully registered</h4>
    <p class="empty-meta">One of our representative will contact you shortly</p>
    <div class="empty-action">
      <button class="btn btn-primary" routerLink="/">Go back to Home</button>
    </div>
  </section>
</ng-container>
